body {
  padding-top: 70px; }

.vertical-line {
  width: auto;
  height: 5px;
  background-color: #539ad8;
  margin: 0 auto; }

.bg-intigena-footer {
  padding: 1rem;
  background-color: #539ad8; }

.footer-text {
  color: white; }

.intigena-nav-text {
  font-size: x-large;
  color: #555555; }

.image-margin {
  margin: 0.5rem; }

.intigena-blue {
  background-color: #539ad8; }

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 40px;
    padding-bottom: 10px; } }
