@import "Variables.scss";


@mixin colorize{
    color: black;
    &:visited {
      color: black;
      text-decoration: none;
    }
    &:hover {
      color: black;    
      background-color:$lightgray;
      text-decoration: none;
      text-decoration-line:none;
    }
    &:active {
      color: black;    
      text-decoration: none;
    }
    
  }

@mixin dashboard-box($bordercolor) {
    background-color: $dashboard-box-background-color;
    padding:10px;
    margin:10px 10px 10px 0px;
    border-left: 5px solid $bordercolor;
    -webkit-box-shadow: 2px 2px 2px 0px $dashboard-box-shadow-color;
    -moz-box-shadow:2px 2px 2px  0px  $dashboard-box-shadow-color;
    box-shadow: 2px 2px 2px  0px  $dashboard-box-shadow-color;   
    @include colorize;
} 

.dashboard-box-Ok{
    @include dashboard-box($laborcreatorcolorbetter);
}

.dashboard-box-Better{
    @include dashboard-box($laborcreatorcolorbetter);
}
.dashboard-box-Worse{
     @include dashboard-box($laborcreatorcolorworse);
}
.dashboard-box-SomethingWorse{
     @include dashboard-box($laborcreatorcolorsomethingworse);
}

.note-button{
     background:none!important;
     border:none;  
     padding:0!important;
     font: inherit;
     cursor: pointer;
     font-style:normal; 
     :hover {
       color:$intigena-blue;  
    }
       font-size: $font-size-medium;
       margin-left:10px;

}
.dashboard-notes{
  font-size: $font-size-small;
}