@import "Variables.scss";

.body-content{
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 20px;
    padding:0px;
}
.body-highlight{
    background:$darkgrey;
}

.laborcreatorcolor-Better{
    background:$laborcreatorcolorbetter !important;
}
.laborcreatorcolor-Worse{
    background:$laborcreatorcolorworse !important;
}
.laborcreatorcolor-SomethingWorse{
    background:$laborcreatorcolorsomethingworse !important;
}