@import "Variables.scss";

$footer-height: 70px;
$nav-height: 80px;
$footer-border-width: 5px;
$footer-border-heigth: 5px;


html { 
    body{
        padding-top: $nav-height;
        background-color: $background-color;
        padding-bottom:$footer-height;
    }
}

.body-content{
    padding-left:10px;
    padding-top:5px;

}

.vertical-line {
    width: auto;
    height: $footer-border-heigth;
    background-color: $intigena-blue;
    margin: 0 auto;
}

.bg-intigena-footer{
    padding: 1rem;
    background-color: $intigena-blue;
}

.footer-text{
    color:white;
}

.intigena-nav-text{
    font-size:x-large;
    color:$intigena-title-gray;
}


.image-margin{
    margin:0.5rem;
}

.intigena-blue{
    background-color:$intigena-blue;
}

.intigena-navbar{
    border-bottom-style:solid;
    border-width:$footer-border-width;
    border-bottom-color: $intigena-blue;
    background-color: $intigena-light-blue;
}

.nav > li > a:hover{
    color:$intigena-blue;
    background-color:$background-color;
}

@media (min-width: 768px){
    .navbar-nav > li > a {
        padding-top: 40px;
        padding-bottom: 10px;
    }
}