$intigena-blue:         #539ad8;
$intigena-light-blue:   #E6F0F7;
$intigena-title-gray:   #555555;

$lightgray:  #F4F4F4;
$darkgrey: #E9E9E9;

$errorred: #FF0000;

$background-color: $lightgray;
$button-color: $darkgrey;