@import '../bootstrap/_variables';

body {
    th{
         font-weight: lighter;
         font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;      
         border-color:$brand-success ;
         }
}

