@model Intranet.ViewModel.SettingsViewModel
@{
    ViewBag.Title = "Einstellungen";
}

<link href="/Content/bootstrap-toggle.min.css" rel="stylesheet">
<script src="/Scripts/bootstrap-toggle.min.js"></script>
<script src="/Scripts/own/shell-settings.js"></script>
<table class="table intigena-settings-table">
    <thead>
        <tr class="intigena-table-header">
            <th>Modul</th>
            <th>Sichtbar</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ModuleSettings)
    {
        <tr class="intigena-table-item">
            <td>@item.Name</td>
            <td>
                <input type="checkbox" checked="@item.Visible" data-toggle="toggle" id="@item.Name" data-on="Aktiviert" data-off="Deaktiviert" class="visible-toggle">
            </td>
        </tr>
    }
    </tbody>
</table>