@model Intranet.ViewModel.HomeViewModel

@{
    ViewBag.Title = "Intigena Intranet";
}

<div class="container body-content">
    <div class="row">
        @foreach (var item in Model.Modules)
        {<div class="col-md-6">
             <a href="@Url.Action(item.ActionName, item.ControllerName,  new { area = item.AreaName })" class="no-underline-hyperlink">
                 <div class="modul-item">
                     <div class="modul-item-title">
                         @item.Name
                     </div>
                     <div class="modul-item-description">
                         @item.Description
                     </div>
                 </div>
             </a>
         </div>
        }
    </div>
</div>