@model Intranet.Labor.ViewModel.LaborCreatorViewModel

@{
    ViewBag.Title = "Intigena Intranet - Labor Module";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    @Model.TestSheet.FaNr
</div>